@import 'antd/dist/antd.css'; 
/* Please use that trick for css debugging */
/* * {
    outline: 1px solid pink;
} */

  .ant-layout-content h1:not(.elp-title),
  .ant-layout-content h2,
  .ant-layout-content h3,
  .ant-layout-content a,
  .ant-layout-content:not(p),
  .ant-layout-content div:not(.vertical-timeline-element),
  .ant-layout-content .ant-table-cell,
  .ant-layout-content, .ant-input[disabled],
  .ant-layout-content td,
  .ant-layout-content path,
  .ant-layout-content, .ant-collapse-header-text,
  .ant-layout-content input,
  .ant-layout-content .ant-input-wrapper > span,
  .ant-layout-content:not(span),
  .ant-layout-content .answerBtn:not(.incorrect),
  .ant-layout-content .nextQuestionBtn,
  .ant-layout-content .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description,
  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title,
  .ant-layout-content .ant-tag,
  .ant-layout-content .rsw-dd,
  .ant-layout-footer
  {
    background: rgb(0, 30, 60);
    color: white;
  }

  .ant-layout-content .anticon-check-circle > svg {
    fill: springgreen;
  }

  .ant-layout-content .anticon-close-circle > svg {
    fill: red;
  }

  .ant-layout-content .ant-progress-inner > span,
  .ant-layout-content .MuiTypography-root
   {
    color: white;
  }

  .ant-layout-content .ant-breadcrumb-link,
  .ant-layout-content .rsw-toolbar > button
  {
    color: whitesmoke
  }

  .ant-layout-content .ant-breadcrumb-separator {
    color:darkgray
  }
  
  .ant-layout-content .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title ,
  .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description {
    color: darkturquoise;
  }

  .ant-layout-content .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description,
  .ant-layout-content .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title  {
    color: darkgray;
  }

  .ant-layout-content .rsw-dd {
    border: none;
  }
  
  .ant-layout-content .liked-button {
    fill: chartreuse;
  }

  .ant-layout-content .disliked-button {
    fill: red;
  }

  .ant-layout-content .MuiBackdrop-root {
    opacity: 0.5 !important;
  }

  main {
    background: rgb(0, 30, 60);
  }

.ant-table-cell {
    pointer-events: none;
  }
  
