@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

.container {
    height: 100vh;
    background: "white" !important;
}

.row {
    color: white;
    display: flex;
    position: absolute;
    top: 20%;
    align-items: center;
    justify-content: center;
    font-family:"Nunito Sans";
    font-size: 1em;
}

.svg-character {
    height: 100%;
}

.svg-character > svg{
    height: 50vh;
}

.svg-character > g{
    height: 50vh;
    fill: red;
}

.definition {
    height: 100%;

}

.definition > h1 {
    font-size: 7.5em;
    color: white;
    margin: 15px 0px;
    font-weight: bold;
}

.definition > h2 {
    color: white;
    font-size: 3em;
    font-weight: bold;
}


/*   
  h1 {
    font-size: 7.5em;
    margin: 15px 0px;
    font-weight: bold;
  }
  
  h2 {
    font-weight: bold;
  } */